{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">E-Commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                  <li class="nav-item">
                  <button id="cart" type="button" class="btn btn-secondary" data-bs-html="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                      Cart(0)
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    {% block body %}{% endblock %}
</body>

{% block script %}
<script type="text/javascript">
    var cart = {}; // Define cart globally

    // Function to update data-bs-content
    function updatePopoverContent(cartString) {
        const cartButton = document.getElementById('cart');

        if (cartString !== undefined) {
            cartButton.setAttribute('data-bs-content', cartString);
        } else {
            cartButton.setAttribute('data-bs-content', 'Cart is empty!');
        }

        const popover = bootstrap.Popover.getInstance(cartButton);
        if (popover) {
            popover.dispose();
        }
        new bootstrap.Popover(cartButton);
    }

    // Function to display cart
    function DisplayCart(cart) {
        var cartString = '<h5>Your Cart:</h5>';
        var cartIndex = 1;

        let cartObject = JSON.parse(localStorage.getItem('cart'));

        for (var product in cartObject) {
            cartString += cartIndex;
            cartString += cartObject[product][1] + ' Qty: ' + cartObject[product][0] + '<br>';
            cartIndex +=1;
        }

        cartString += "<a class='btn btn-warning' href='{% url 'checkout' %}' id='checkout'>Checkout</a>";
        updatePopoverContent(cartString);
    }

    // Check local storage for existing cart data
    if (localStorage.getItem('cart') !== null) {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = 'Cart(' + Object.keys(cart).length + ')';
        DisplayCart(cart);
    }

    // Update cart on click
    $(document).on('click', '.atc', function () {
        var product_id = this.id.toString();
        if (cart[product_id] !== undefined) {
            quantity = cart[product_id][0] + 1;
            cart[product_id][0] = quantity;
            cart[product_id][2] = cart[product_id][2] + parseFloat(document.getElementById('price' + product_id).innerHTML);
        } else {
            quantity = 1;
            price = parseFloat(document.getElementById('price' + product_id).innerHTML);
            name = document.getElementById('pd' + product_id).innerHTML;
            cart[product_id] = [quantity,name,price];
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = 'Cart(' + Object.keys(cart).length + ')';
        DisplayCart(cart);
    });

    // Initial display of cart content
    DisplayCart(cart);
</script>
{% endblock %}

</html>