{% extends 'shop/base.html' %}

{% block title %} E-Commerce {% endblock %}

{% block body %}
    <div class="container">
        <!-- Search form -->
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name="product_name" placeholder="Search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Display products -->
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ product.image }}" height="300px" width="300px">
                    <div class="card-body">
                        <div id="pd{{product.id}}" class="card-title">{{ product.name }}</div>
                        <div class="card-text">
                            <span class="card-text text-decoration-line-through text-muted">${{ product.price }}</span>
                            $<span id="price{{ product.id }}" class="card-text">{{ product.discount_price }}</span>
                        </div>

                        <a href="{% url 'detail' product.id %}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn btn-dark atc">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <ul class="pagination align-items-center">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                            <a class="page-link" href="?page={{ products.number }}">Current</a>
                    </li>

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    var cart = {}; // Define cart globally

    // Function to update data-bs-content
    function updatePopoverContent(cartString) {
        const cartButton = document.getElementById('cart');

        if (cartString !== undefined) {
            cartButton.setAttribute('data-bs-content', cartString);
        } else {
            cartButton.setAttribute('data-bs-content', 'Cart is empty!');
        }

        const popover = bootstrap.Popover.getInstance(cartButton);
        if (popover) {
            popover.dispose();
        }
        new bootstrap.Popover(cartButton);
    }

    // Function to display cart
    function DisplayCart(cart) {
        var cartString = '<h5>Your Cart:</h5>';
        var cartIndex = 1;

        let cartObject = JSON.parse(localStorage.getItem('cart'));

        for (var product in cartObject) {
            cartString += cartIndex;
            cartString += cartObject[product][1] + ' Qty: ' + cartObject[product][0] + '<br>';
            cartIndex +=1;
        }

        cartString += "<a class='btn btn-warning' href='{% url 'checkout' %}' id='checkout'>Checkout</a>";
        updatePopoverContent(cartString);
    }

    // Check local storage for existing cart data
    if (localStorage.getItem('cart') !== null) {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    // Update cart on click
    $(document).on('click', '.atc', function () {
        var product_id = this.id.toString();
        if (cart[product_id] !== undefined) {
            quantity = cart[product_id][0] + 1;
            cart[product_id][0] = quantity;
            cart[product_id][2] = cart[product_id][2] + parseFloat(document.getElementById('price' + product_id).innerHTML);
        } else {
            quantity = 1;
            price = parseFloat(document.getElementById('price' + product_id).innerHTML);
            name = document.getElementById('pd' + product_id).innerHTML;
            cart[product_id] = [quantity,name,price];
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = 'Cart(' + Object.keys(cart).length + ')';
        DisplayCart(cart);
    });

    // Initial display of cart content
    DisplayCart(cart);
</script>
{% endblock %}