{% extends 'shop/base.html' %}

{% block title %} E-Commerce {% endblock %}

{% block body %}
    <div class="container">
        <!-- Search form -->
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name="product_name" placeholder="Search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Display products -->
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ product.image }}" height="300px" width="300px">
                    <div class="card-body">
                        <div id="pd{{product.id}}" class="card-title">{{ product.name }}</div>
                        <div class="card-text">
                            <span class="card-text text-decoration-line-through text-muted">${{ product.price }}</span>
                            $<span id="price{{ product.id }}" class="card-text">{{ product.discount_price }}</span>
                        </div>

                        <a href="{% url 'detail' product.id %}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn btn-dark atc">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <ul class="pagination align-items-center">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                            <a class="page-link" href="?page={{ products.number }}">Current</a>
                    </li>

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}